body {
  background-color: green;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: orange;
  font-weight: bold;
  font-size: 48px;
  text-transform: capitalize;
  text-align: center;
}
