h1 {
    fon
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-weight: bold;
  font-size: 72px;
}
