body {
  background-color: blue;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 72px;
  text-transform: capitalize;
  text-align: center;
}
